@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    line-height: 1.5;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    background-color: #005007b6;
    padding: 5px;
}
.container{
    max-width: 2000px;
    margin: auto;
    margin-bottom: 10px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
ul{
    list-style: none;
}
.footer-col{
    width: 20%;
    padding: 2 25px;
}
.footer-col h4{
    font-size: 30px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
}
.footer-col h4::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    background-color: rgb(247, 244, 244);
    height: 2px;
    box-sizing: border-box;
    width: 0%;
}
.footer-col ul::after{
    margin-bottom: 10px;
}

.footer-col ul li{
text-decoration: none;
}

.head{
    line-height: 2;
    text-align: center;
    color: white;
    font-size: 35px;
    text-decoration: none;
    
}

.contacts-grid {
    /* display: grid;
    grid-template-areas: 
    "empty socialLinks";
    grid-template-rows: 1fr;
    grid-template-columns: 3fr;
    grid-gap: 50px;
    text-decoration: none;
    color: inherit;
    margin-right: 0%; */
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.socialLinks{
    grid-area: socialLinks;
   
}
*img{
    margin-bottom: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.image-container{

    display: flex;
    align-items: last baseline;
    justify-content: right;
    

}

.image-container img{
    width: 100px;
    height: 30%;
}

.image-container img{
    border-radius: 50%;
    border: 10px;
}

.list-Decor li a {
    text-decoration: none;
    font-size: larger;
    color:white;
}


.footer-row {
    display: flex;
    align-items: last baseline;
    text-decoration: none;

    
}
.footer-row li{
    list-style: none;
    margin-right: 1rem;
}
.footer-row li a{
    text-decoration: none;
    font-size: large;
}
.image-container i{
    font-size: 2rem;
}

.social-box{
    display: flex;
    align-items: center;
}