* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('../clothes.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.Reeco_Logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
}

.Reeco_Logo .logo_green {
    color: green;
    font-weight: 500;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    margin-left: 40px;
    cursor: pointer;
}

.navbar a:hover {
    color: green;
}

.landing {
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
}

.landing .greeting {
    color: white;
    text-align: center;
    margin: 8px;
    font-size: 30px;
    display: block;
}

.landing .greeting .logo_green {
    color: green;
}

.landing .welcome-btn {
    color: white;
    border-style: solid;
    display: block;
    border-radius: 2px;
    border-width: 2px;
    border-color: white;
    background-color: transparent;
    font-size: 25px;
    cursor: pointer;
    padding: 8px;
    transition: background-color 0.3s, box-shadow 0.2s;
}

.landing .welcome-btn:hover {
    background-color: rgb(9, 231, 20);
    color: white;
    box-shadow: 0, 0, 0, rgba(109, 247, 30, 0.781);
}

.landing .welcome-btn:active {
    opacity: 0.8;
}


