
.user {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 30px;
    height: 100vh;
    color: white;
    background:linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0)), url("../about-bg-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}

.emailtxt{
    padding: 10px;
    width: 350px;
}

.pwdtext{
    padding: 10px;
    width: 350px;
}

.login-form{
    text-align:center;
}

    h1 {
        
        text-align: center;
        font-size: 70px;
    }
.log{
    justify-content: start;
}

a{
    color: yellow;
    font-size: 15px;
}

.log {
    margin-right: 100;
    margin-top: 0px;
    justify-content: right;
    text-align: right;
    align-items: right;
    padding: 2px;
    color: white;
    background: black;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    text-decoration: none;
}

a:hover{
    color: black;
    font-size: 1.2em;
    background-color: lawngreen;
}

.Password{
    justify-content:center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    text-decoration: underline;
}



