
body{
    background-image: url("nature-leaves-plants-green-wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.login-form{
    text-align:center;
}

    h1 {
        color: white;
        text-align: center;
    }
p{
    color: white;
}

a{
    color: yellow;
}

button:hover {
   background-color: blueviolet;
    
}

button:active {
    background-color: darkgrey;
    font-weight: bold;

}

